In [29]:
import pandas as pd
import numpy as np
from sklearn import preprocessing,tree,cross_validation
from sklearn.tree import DecisionTreeClassifier
le=preprocessing.LabelEncoder()

In [4]:
train=pd.read_csv("c:\\Users\\Public\\train.csv")
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [11]:
test=pd.read_csv("c:\\Users\\Public\\test.csv")

In [14]:
train_c=train.copy()

In [15]:
train_c.Sex=le.fit_transform(train_c.Sex)

In [8]:
train['Age']=train['Age'].replace(np.NaN,train['Age'].mean())

In [16]:
train_c=train_c.drop(['Name','Ticket','Cabin','Embarked'],axis=1)

In [13]:
train.count()

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            891
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

In [17]:
train_c.count()

PassengerId    891
Survived       891
Pclass         891
Sex            891
Age            891
SibSp          891
Parch          891
Fare           891
dtype: int64

In [18]:
from sklearn.model_selection import train_test_split,cross_val_score

In [26]:
fulldata=[train,test]
train_c.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0            1         0       3    1  22.0      1      0   7.2500
1            2         1       1    0  38.0      1      0  71.2833
2            3         1       3    0  26.0      0      0   7.9250
3            4         1       1    0  35.0      1      0  53.1000
4            5         0       3    1  35.0      0      0   8.0500

In [63]:
x=train_c.drop(['Survived'],axis=1).values
y=train_c['Survived'].values
x_train,y_train,x_test,y_test=cross_validation.train_test_split(x,y,test_size=0.2,random_state=0)
x_test=test.values

In [65]:
tree_a=tree.DecisionTreeClassifier(max_depth=3)
tree_a.fit(x,y)
tree_a.score(x,y)

0.8271604938271605